body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.02em;
}

h1 {
    font-weight: 700;
}

.orange {
    color: orange;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 20px;

}

.margin {
    margin: 20px;

}

.flexible {
    display: flex;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
}